<div [ngStyle]="{
  'background':config.fondo,
  'padding':'20px',
  'border':'5px solid black',
  'border-color':config.color
  
}">
  <h1>Bienvenido a {{ title }}</h1>
  <p>{{descripcion}}</p>
</div>

<nav>
  <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
  &nbsp;
  <a [routerLink]="['/zapatillas']" [routerLinkActive]="['active']">Zapatillas</a>
  &nbsp;
  <a [routerLink]="['/videojuego']" [routerLinkActive]="['active']">Videojuegos</a>
  &nbsp;
  <a [routerLink]="['/cursos']" [routerLinkActive]="['active']">Cursos</a>
</nav>
<hr/>
<!--
<button (click)="ocultarVideojuegos(false)" *ngIf="mostrarVideojuegos">Ocultar</button>
<button (click)="ocultarVideojuegos(true)" *ngIf="!mostrarVideojuegos">Mostrar</button>
<div *ngIf="mostrarVideojuegos"> 
  <videojuego>
    
  </videojuego>
</div>
-->
<router-outlet></router-outlet>
